.contact-us-main {
    padding: 60px 100px;
}
.contact-us-main p:first-child{
    opacity: .5;
    margin-bottom: 0px;
}
.contact-us-first-H2{
    margin-bottom: 30px;
    color: red;
}
.form-div .input {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}

.form-div .input input {
    width: 48%;
}
.form-div textarea {
    width: 100%;
    height: 100px;
}
.form-div button {
    border: 0;
    width: 100%;
    padding: 6px 20px;
    border-radius: 5px;
    background-color: red;
    color: white;
}
.contact-infoo p{
    opacity: 0.7;
}